.about-wav-container {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 400;
    display: flex;
    background: $background-faded;
    top: 0;
    left: 0;
    backdrop-filter: blur(4px);
}

.about-wav-close-container {
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
    height: 16px;
    width: 16px;

    transform: scale(1);
    transition: transform .2s ease-in-out;
    transform-origin: center center;

    &:hover {
        transform: scale(1.02);
        transition: transform .2s ease-in-out;
    }
}

.about-wav-content-container {
    display: flex;
    flex-direction: column;
    width: 98%;
    height: calc(100vh - 160px);
    margin: 50px 1% 0;
    overflow: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;

    @media screen and (min-width: $tablet) {
        flex-direction: row;
    }
}

.about-wav-demon-container {
    width: 100%;

    a {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
            color: $background;
        }
    }

    img {
        width: 100%;
    }

    @media screen and (min-width: $tablet) {
        width: 50%;
        margin-top: 3px;
        padding-right: 6px;
    }
}

.about-nav-link {
    font-size: 11px;
    padding: 0 0 7px;
    color: $background;

}

.about-wav-credit {
    font-size: 11px !important;
    padding: 0 !important;

}

.about-wav-text-container {
    width: 100%;

    p {
        text-transform: uppercase;
        font-size: 15px;
        line-height: 17px;
        padding: 3px 0;
    }
}

.about-wav-product-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 10px;

    @media screen and (min-width: $tablet) {
        width: 50%;
        margin-top: 0;
    }
}

.about-wav-product {
    width: 50%;
    padding: 3px;
    display: flex;
    flex-direction: column;

    a {
        text-decoration: none;
        transform: scale(1);
        transition: transform .2s ease-in-out;
        transform-origin: center center;

        &:hover {
            transform: scale(1.02);
            transition: transform .2s ease-in-out;
        }

    }

    img {
        object-fit: contain;
        width: 100%;
    }
}

// .about-wav-image-container {
//     width: 50vh;
//     height: 50vh;
// }

.greyed-out {
    opacity: 50%;
}

.about-wav-product_text_block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    p {
        font-size: 11px;
        color: $background;
    }
}