.about-wav-container {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 400;
    display: flex;
    background: $background-faded;
    top: 0;
    left: 0;
}

.about-wav-close-container {
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
    height: 16px;
    width: 16px;
}