.audio-nav-container {
    display: flex;
    position: fixed;
    z-index: 100;
    width: calc(100% - 20px);
    bottom: 0;
    margin: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.audio-nav-title {
    font-size: 15.5px;
    margin: 3px auto;
    color: $light-text;
    font-weight: 500;
    letter-spacing: 0.05em;
    cursor: pointer;
}

.audio-nav-progress {
    margin: 5px 0 15px;
    width: 100%;
}

.audio-nav-progress-line {
    width: 100%;
    height: 4px;
    background: $light-text-faded;
    position: relative;
}

.audio-nav-progress-playhead-begining {
    height: 4px;
    background: $light-text;
    position: fixed;
}

.audio-nav-progress-playhead-container {
    width: 24px;
    height: 24px;
    position: fixed;
    transform-origin: center;
    margin-top: -10px;
    left: 0;

    svg {
        fill: $light-text;
    }
}

.audio-nav-svg-container {
    display: flex;
    margin: 10px 0;
    width: 32px;
    height: 32px;
    transform-origin: center center;
    justify-content: center;
    align-items: center;
}

.audio-nav-svg {
    width: 100%;
    transform-origin: center;

    svg {
        fill: $light-text;
    }
}
