.playlist-container {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 400;
    display: flex;
    background: $background-faded;
    top: 0;
    left: 0;
    backdrop-filter: blur(4px);
}

.playlist-close-container {
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
    height: 16px;
    width: 16px;

    transform: scale(1);
    transition: transform .2s ease-in-out;
    transform-origin: center center;

    &:hover {
        transform: scale(1.02);
        transition: transform .2s ease-in-out;
    }
}

.playlist-text-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 50px 10px;
}

.playlist-text {
    font-size: 76px;
    line-height: 66px;
    font-weight: 600;
    color: $background;
    margin: 0;
    padding: 0;
    text-wrap: nowrap;

    @media screen and (min-width: $mobile) {
        font-size: 100px;
        line-height: 70px;
    }

    @media screen and (min-width: $tablet) {
        font-size: 130px;
        line-height: 120px;
        font-weight: 500;
    }
}

.playlist-more-text {
    font-size: 50px;
    line-height: 50px;
    font-weight: 600;
    color: $background-faded;
    margin: 0;
    padding: 0;
    text-wrap: nowrap;

    @media screen and (min-width: $mobile) {
        font-size: 90px;
        line-height: 80px;
    }

    @media screen and (min-width: $tablet) {
        font-size: 130px;
        line-height: 120px;
        font-weight: 500;
    }
}